[colors]
background = "#282828"
foreground = "#ebdbb2"
orange = "#fe8019"
yellow = "#fabd2f"
aqua = "#8ec07c"
blue = "#83a598"
purple = "#d3869b"
red = "#fb4934"
green = "#b8bb26"

[bar/main]
font-0 = JetBrainsMono Nerd Font:size=12;2
height = 32
background = ${colors.background}
foreground = ${colors.foreground}
modules-left = workspaces
modules-right = cpu memory wired-network volume time date
module-margin = 1


[module/workspaces]
type = internal/xworkspaces

label-active = ﱢ
label-active-foreground = ${colors.orange}
label-active-padding = 1

label-occupied = ﱢ
label-occupied-padding = 1

label-urgent = ﱢ
label-urgent-foreground = ${colors.yellow}
label-urgent-padding = 1

label-empty = ﱡ
label-empty-padding = 1


[module/cpu]
type = internal/cpu
label =  %percentage%%
label-padding = 1
label-foreground = ${colors.red}


[module/memory]
type = internal/memory
label =  %percentage_used%%
label-padding = 1
label-foreground = ${colors.yellow}


[module/wired-network]
type = internal/network
interface = enp0s31f6
label-connected =  %downspeed%
label-connected-padding = 1
label-connected-foreground = ${colors.green}


[module/volume]
type = internal/pulseaudio
label-volume = 墳 %percentage%%
label-volume-foreground = ${colors.aqua}
label-muted = ﱝ Muted
label-muted-foreground = ${colors.aqua}
label-volume-padding = 1
label-muted-padding = 1


[module/date]
type = internal/date
interval = 1
date = "%d.%m"
date-alt = "%d.%m.%Y"
label =  %date%
label-padding = 1
label-foreground = ${colors.purple}


[module/time]
type = internal/date
interval = 1
time = %H:%M
time-alt = %H:%M:%S
label =  %time%
label-padding = 1
label-foreground = ${colors.blue}
